html, body {
	margin: 0;
	padding: 0;
}

/*x color: #e44b4b;
o color: #4bb0e4;*/

.grid {
	display: grid;
	grid-template-columns: 100px 100px 100px;
}

.tile {
	display: inline-block;
	border: 1px solid black;
	height: 20px;
	width: 20px;
}